<div th:fragment="lib" xmlns:th="http://www.w3.org/1999/xhtml">

    <!--JQuery-->
    <script type="text/javascript" src="lib/jQuery/jquery.min.js"></script>

    <!--MDUI-->
    <script type="text/javascript" src="lib/mdui/js/mdui.min.js"></script>

    <!--AngularJs-->
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular-ui-router.js"></script>

    <!--ng-file-upload-->
    <script src="lib/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="lib/ng-file-upload/ng-file-upload-shim.min.js"></script>

    <!--ng-trix-->
    <script src="lib/ng-trix/trix.js"></script>
    <script src="lib/ng-trix/angular-trix.min.js"></script>

    <!--BootStrap-->
    <!--<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>-->

    <!--Less-->
    <script type="text/javascript" src="lib/less/less.min.js"></script>

</div>

<div th:fragment="ngModule" xmlns:th="http://www.w3.org/1999/xhtml">

    <!-- audit-manager -->
    <script type="text/javascript" src="js/auditManager.js"></script>
    <script type="text/javascript" src="js/main-ctrl.js"></script>

    <!--User-->
    <script type="text/javascript" src="js/user/profile-ctrl.js"></script>
    <script type="text/javascript" src="js/user/users-ctrl.js"></script>

    <!--article-->
    <script type="text/javascript" src="js/article/theme-service.js"></script>
    <script type="text/javascript" src="js/article/theme-ctrl.js"></script>
    <script type="text/javascript" src="js/article/articles-ctrl.js"></script>
    <script type="text/javascript" src="js/article/news-edit-ctrl.js"></script>

    <!--poster-->
    <script type="text/javascript" src="js/poster/carousel-ctrl.js"></script>
    <script type="text/javascript" src="js/poster/photo-ctrl.js"></script>
    <script type="text/javascript" src="js/poster/information-ctrl.js"></script>
    <script type="text/javascript" src="js/poster/module-edit-ctrl.js"></script>
</div>