<div id="moduleEdit">
    <h3>{{isNew ? '新建模块' : '编辑模块'}}<small>　{{isNew ? '' : mod.name}}</small></h3>
    <hr />
    <div style="max-width: 1200px;">
        <div class="mdui-row" style="padding-top: 0;">
            <div class="mdui-textfield">
                <label class="mdui-textfield-label">模块名称</label>
                <input class="mdui-textfield-input" type="text" ng-model="mod.name" required="true"/>
                <div class="mdui-textfield-error">模块名称不能为空</div>
            </div>
        </div>
        <div class="mdui-row" style="padding-top: 0;height: 600px;overflow-y: scroll;">
            <trix-editor angular-trix="" ng-model="mod.content" style="height: 600px;"></trix-editor>
        </div>
        <div class="mdui-row">
            <button class="mdui-btn mdui-ripple mdui-color-theme" ng-click="save()">
                {{isNew ? '提交' : '保存'}}
            </button>
            <button class="mdui-btn mdui-ripple mdui-color-theme" ng-click="cancel()">
                取消
            </button>
        </div>
    </div>
</div>